.docs-footer {
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
    background: #3f51b5;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.powered-by-text {
    color: white;
    font-weight: 300;
    font-size: 16px;
}