<mat-toolbar color="primary" *ngIf="isLoggedIn">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="start start">
         <h2 style="cursor: pointer;" (click)="goTo()">Omniwyse</h2>
        </div>
        <button (click)="goToSchedules()" *ngIf="userData.isAdmin">Schedules</button> 
        <button (click)="postNotification()" *ngIf="userData.isAdmin">Post Notification</button> 
        <button (click)="goToContact()">Contact</button>  
        <button (click)="logout()">Logout</button>  
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="!isLoggedIn">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="start start">
         <h2>Omniwyse Notification</h2>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
