<mat-toolbar color="primary" *ngIf="isLoggedIn">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="start start">
         <h2>Omniwyse</h2>
        </div>
        <button (click)="logout()">About</button> <hr><hr>
        <button (click)="logout()">Contact</button>  <hr><hr>
        <button (click)="logout()">Logout</button>  <hr><hr>

       
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="!isLoggedIn">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="start start">
         <h2>Omniwyse Nsotification</h2>
        </div>
    </mat-toolbar-row>
</mat-toolbar>