
<div id="dashboard">
	<h1 *ngIf="userData.isAdmin"> Welcome Admin </h1>
	<h1 *ngIf="!userData.isAdmin"> Welcome User </h1>

	<div class="notifications-block" fxLayout="row wrap" *ngIf="postList.length"> 
		<mat-card *ngFor="let post of postList" class="mat-elevation-z8 notification-card" fxFlex="calc(33%-20px)" fxLayoutGap="20px">
		  <mat-card-header fxLayoutAlign="center center">
		    <mat-card-title>{{post.title}}</mat-card-title>
		  </mat-card-header>
		  <mat-card-content fxLayoutAlign="center center" *ngIf="post.imageURL">
		  	<img class="post-image" src="{{post.imageURL}}">
		  </mat-card-content>
		  <!-- <mat-card-content>
		    <div [innerHTML]="post.description"></div>
		  </mat-card-content> -->
		  <mat-card-actions fxLayoutAlign="space-between center">
		    <button (click)="goToNotificationView(post)" mat-button color="primary">View Notifcaiton</button>
		    <div class="date">{{post.date | date: 'medium'}}</div>
		  </mat-card-actions>
		</mat-card>
	</div>

	<h2 fxLayoutAlign="center center" *ngIf="!postList.length"> No Notifications :( </h2> 

</div>
