<div id="contact-us" fxLayoutAlign="center center" fxLayout="column">

	<h1> Let's work together </h1>

	<p class="info"> We focus on building a strong relationship of trust, with a focus on communication & consistency, providing a long-term solution that enables your business growth </p>

	<div fxLayout="row" fxLayoutAlign="space-between center">
		<div class="location-box">
			<h2> USA </h2>
			<p> 75 Broadway Suite 202 San Francisco, CA 94111 </p>
			<a href="mailto:sales@omniwyse.com">sales@omniwyse.com</a>
		</div>
		<div class="location-box">
			<h2> India </h2>
			<p> Q2, A2 7th Floor Cyber Towers Hi-tech City, Hyderabad 500081 </p>
			<a href="mailto:info@omniwyse.com">info@omniwyse.com</a>
		</div>
	</div>

</div>