<div fxLayout="column" fxLayoutAlign="center center">
	<form [formGroup]="postForm" class="post-container" (ngSubmit)="post()" fxLayout="column">

        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter Post Title" type="text" formControlName="postTitle">
            <mat-error>Title Required</mat-error>
        </mat-form-field>

        <ckeditor formControlName="postDescription" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>

        <mat-form-field appearance="outline" fxFlex="100%" class="mt-12">
          <mat-label>Tags</mat-label>
          <mat-select formControlName="tags" multiple>
            <mat-option *ngFor="let tag of tagsList" [value]="tag.id">{{tag.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100%" class="mt-12">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Url [https://google.co.in]" type="text" formControlName="link">
        </mat-form-field>

        <input class="mt-12 upload-image" (change)="onFileSelect($event)" placeholder="Upload Notification Image" type="file"
          formControlName="postImage" accept="image/*">

        <mat-form-field appearance="outline"  fxFlex="100%" class="mt-12">
           <input matInput [ngxMatDatetimePicker]="picker1" 
              placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
        </mat-form-field>
        


<!--         <mat-form-field appearance="outline" fxFlex="100%">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Enter description" type="description" formControlName="postDescription">
    <mat-error>Description Required</mat-error>
</mat-form-field> -->
        <div fxLayoutAlign="center center">
            <button *ngIf="!editMode" [disabled]="postForm.invalid" class="post-button" color="primary" mat-raised-button>Create Post</button>
            <button *ngIf="editMode" [disabled]="postForm.invalid" class="post-button" color="primary" mat-raised-button>Update Post</button>
        </div>
    </form>
</div>